on fs
    chmod 0666 /sys/class/leds/vibrator/ignore_store
    chown system system /sys/class/leds/vibrator/ignore_store
    chmod 0666 /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/duration
    chmod 0666 /sys/class/leds/vibrator/vmax
    chown system system /sys/class/leds/vibrator/vmax
    chmod 0666 /sys/class/leds/vibrator/gain
    chown system system /sys/class/leds/vibrator/gain
    chmod 0666 /sys/class/leds/vibrator/seq
    chown system system /sys/class/leds/vibrator/seq
    chmod 0666 /sys/class/leds/vibrator/loop
    chown system system /sys/class/leds/vibrator/loop
    chmod 0666 /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/brightness

on boot
    # Reduce default vibrator gain from 0x80 to 0x55.
    # Allow gain customization via persistent property.
    write /sys/class/leds/vibrator/gain ${persist.vendor.vib.gain:-0x55}
